<p-toast></p-toast>
<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  <!-- Título del toolbar -->
  <span>Panel Admin</span>

  <!-- Usar flex para empujar el siguiente contenido al extremo derecho -->
  <span class="spacer"></span>

  <!-- Botón de logout en la esquina superior derecha -->
  <p-button
  icon="pi pi-sign-out"
  [style]="{ 'background-color': 'transparent', border: 'none' }"
  *ngIf="isLoggedIn"
  (click)="logout()">
</p-button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav>
    <mat-nav-list>
      <mat-list-item (click)="sidenav.mode === 'over' && sidenav.toggle()" [routerLink]="['/admin/dashboard']">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        Dashboard
      </mat-list-item>
      <mat-list-item (click)="sidenav.mode === 'over' && sidenav.toggle()" [routerLink]="['/admin/add-product']">
        <mat-icon matListItemIcon>stay_primary_portrait</mat-icon>
        Mant Phones
      </mat-list-item>
      <mat-list-item (click)="sidenav.mode === 'over' && sidenav.toggle()" [routerLink]="['/admin/mant-users']">
        <mat-icon matListItemIcon>supervised_user_circle</mat-icon>
        Mant Users
      </mat-list-item>
      <mat-list-item (click)="sidenav.mode === 'over' && sidenav.toggle()" [routerLink]="['/admin/mant-component']">
        <mat-icon matListItemIcon>build</mat-icon>
        Mant Components
      </mat-list-item>
      <mat-list-item (click)="sidenav.mode === 'over' && sidenav.toggle()" [routerLink]="['/admin/mant-mark']">
        <mat-icon matListItemIcon>group_work</mat-icon>
        Mant Marks
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <!-- <router-outlet></router-outlet> -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
