<!-- header.component.html -->
<div class="header">
  <h1 class="title">CellPhone</h1>
  <div class="nav-links">
    <a href="#about" *ngIf="!isLoggedIn">About Us</a>
    <a href="#contact" *ngIf="!isLoggedIn">Contact</a>

    <!-- Botón de Login, visible solo si no está logueado -->
    <button mat-button class="login-btn login-button" *ngIf="!isLoggedIn" (click)="openLogin()">
      <mat-icon>login</mat-icon>
      Login
    </button>

    <button mat-icon-button *ngIf="isLoggedIn" class="cart-user">
      <mat-icon>person</mat-icon>
    </button>
    <!-- Botón de Carrito, visible solo si está logueado -->
    <button mat-icon-button *ngIf="isLoggedIn" class="cart-button" [routerLink]="['/cart']">
      <mat-icon>shopping_cart</mat-icon>
    </button>

    <button mat-button class="logout-button" *ngIf="isLoggedIn" (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </div>
</div>
