<div class="container_general">
  <div class="layout">
    <!-- Contenedor de la imagen -->
    <div class="container_image">
      <div class="image_container">
        <img [src]="'data:image/jpeg;base64,' + item.imagen">
      </div>
      <div class="image_name_container">
        <h2>{{item.modelo}}</h2>
      </div>
    </div>

    <!-- Contenedor de la tabla -->
    <div class="table_container">
      <p-table
        [value]="dataTable"
        [paginator]="true"
        [rows]="3"
        [tableStyle]="{ 'max-width': '650px' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width:45%;background-color: #005ea8;color:white">Componente</th>
            <th style="width:15%;background-color: #005ea8;color:white">Precio</th>
            <th style="width:15%;background-color: #005ea8;color:white">Stock</th>
            <th style="width:25%;background-color: #005ea8;color:white"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
          <tr>
            <td>{{ customer.nombre }}</td>
            <td>{{ customer.precio }}</td>
            <td>{{ customer.cantidad }}</td>
            <td>
              <p-button
                *ngIf="customer.cantidad > 0"
                icon="pi pi-cart-plus"
                styleClass="p-button-rounded p-button-outlined"
                [style]="{ color: 'green' }"
                (click)="addToCart(item, customer)"
              ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<div class="separador"></div>
<p-panel header="Description">
  <p>{{ item.descripcion }}</p>
</p-panel>
<div style="height: 20px;"></div>
<p-carousel
  [value]="carrusel_celulares_detaller"
  [numVisible]="imageVisible"
  [numScroll]="1"
  [circular]="true"
  [autoplayInterval]="3000"
  styleClass="carrusel"
  [showIndicators]="false">
    <ng-template pTemplate="item" let-item>
      <div class="border-1 surface-border border-round m-2 text-center py-5 px-3" class="image_carrusel">
        <div class="mb-3" style="width: 150px; height: 170px; margin: 0 auto;">
          <img [src]="'data:image/jpeg;base64,' + item.imagen" [alt]="item.marca + ' ' + item.modelo" style="width: 150px; height: 180px;" />
        </div>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <h4 class="card_name mb-1" style="text-align: center;">{{ item.modelo }}</h4>
          <h6 class="card_price mt-0 mb-3" style="text-align: center;">{{ item.precio_completo | currency }}</h6>
          <p-button label="Detalles" styleClass="p-button-outlined" (onClick)="goToDetails(item.id_celular)"></p-button>
        </div>
      </div>
    </ng-template>
</p-carousel>
<div style="height: 20px;"></div>
