.container_general {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 450px;
  /* background-color: gray; */
}

.layout {
  display: flex;
  align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
  justify-content: center; /* Centra horizontalmente */
  gap: 20px; /* Espacio entre imagen y tabla */
  width: 100%;
  max-width: 1200px;
}

.container_image {
  flex: 1; /* La imagen ocupa el espacio disponible */
  display: flex;
  flex-direction: column;
  align-items: center
  /* position: relative; Esto es necesario para el posicionamiento absoluto del nombre */
}

.table_container {
  flex: 2; /* La tabla ocupa el doble del espacio de la imagen */
  max-width: 650px;
}

.container_details {
  /* background-color: blue; */
  width: 45%;
  height: 90%;
  border-radius: 10px; /* Bordes redondeados */
}

.image_name_container h2{
 text-align: center;
 font-size: 35px;
}

.image_container{
  display: flex;
  justify-content: center;
}

img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px; /* Bordes redondeados */
  transition: transform 0.3s; /* Transición suave */
  margin: 0 auto;
  align-items: center;
}

img:hover {
  transform: scale(1.05);
}


/* TABLE */
.available-yes {
  /* background-color: #4caf50; */
  color: white;
  padding: 5px;
  border-radius: 4px;
}

.available-no {
  background-color: #f44336; /* Rojo */
  color: white;
  padding: 5px;
  border-radius: 4px;
}


/* BUTTON CAR */
.cart-button {
  background-color: #FFC107 ;
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  border: none;
}

.cart-button mat-icon {
  margin-right: 8px; /* Espacio entre el icono y el texto */
  font-size: 24px; /* Tamaño del icono */
  color: white;
}

.cart-button:hover {
  background-color: #39C37D ; /* Color de fondo más oscuro al hacer hover */
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); /* Sombra más fuerte al hacer hover */
}

.cart-button:active {
  background-color: #39C37D ; /* Color más oscuro cuando está activo (click) */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra más pequeña al hacer click */
}


.card_contain{
  width: 100%;
}


.container_god{
  display: flex;
  flex-direction: column;
}

/* Estilos para la tarjeta */
.container_card {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.description-card {
  width: 80%; /* O ajusta el ancho que necesites */
  background-color: #f9f9f9; /* Fondo claro */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
}

.description-card mat-card-header {
  background-color: #4A628A;
  border-radius: 10px 10px 0 0;
  color: white;
}

.description-card p {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
}

::ng-deep .p-panel {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .separador{
    /* background-color: #39C37D; */
    height: 145px;
  }

  .carrusel{
    width: 90vw;
    margin: 0 auto;
  }

  .container_general{
    /* background-color: red; */
    flex-direction: column;
    /* justify-content: space-around; */
  }

  img {
    width: 180px;
    height: 180px;
  }

  .image_name_container h2{
    text-align: center;
    font-size: 15px;
   }

   .image_container{
     display: flex;
     justify-content: center;
   }

   .container_details {
    width: 98%;
    margin: 0 auto;
  }

  .panel{
    /* width: 100%; */
    margin: 0 auto;
    background-color: blue;
  }
}
