<div class="container_general">
  <div class="container_image">
    <div class="image_container">
      <img [src]="'data:image/jpeg;base64,' + item.imagen">
    </div>
    <div class="image_name_container">
      <h2>{{item.modelo}}</h2>
    </div>
  </div>
  <div class="separador"></div>
  <div class="container_details">
    <app-table [dataTable]="dataTable" [metadataTable]="metadataTable">
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row" [ngClass]="getRowClass(row)">
          <p-button *ngIf="row.cantidad > 0" icon="pi pi-cart-plus" styleClass="p-button-rounded p-button-outlined" [style]="{color:'green'}" (click)="addToCart(item, row)"></p-button>
        </td>
      </ng-container>
    </app-table>
  </div>
</div>
<div class="separador"></div>
<p-panel header="Description">
  <p>{{ item.descripcion }}</p>
</p-panel>
<div style="height: 20px;"></div>
<p-carousel [value]="celulares" [numVisible]="imageVisible" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" styleClass="carrusel">
  <ng-template pTemplate="item" let-item>
    <div class="border-1 surface-border border-round m-2 text-center py-5 px-3" style="width: 250px; height: 350px;">
      <div class="mb-3" style="width: 150px; height: 200px; margin: 0 auto;">
        <img [src]="'data:image/jpeg;base64,' + item.imagen" [alt]="item.marca + ' ' + item.modelo" style="width: 150px; height: 200px;" />
      </div>
      <div style="display: flex; flex-direction: column; align-items: center;">
        <h4 class="card_name mb-1" style="text-align: center;">{{ item.modelo }}</h4>
        <h6 class="card_price mt-0 mb-3" style="text-align: center;">{{ item.precio_completo | currency }}</h6>
        <p-button label="Detalles" styleClass="p-button-outlined" [routerLink]="['/details-phone', item.id_celular]"></p-button>
      </div>
    </div>
  </ng-template>
</p-carousel>
<div style="height: 20px;"></div>
