<div class="absolute top-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.13)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)]"></div>

<div class="login-container">
  <div class="login-card" *ngIf="showLogin">
    <!-- Login Form -->
    <div class="imagen">
      <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" style="width: 100px; height: 100px;">
    </div>
    <div style="height: 10px;"></div>
    <div style="height: 10px;"></div>

    <form [formGroup]="group_login">
      <div class="flex flex-column gap-2" style="display: flex; flex-direction: column; margin-bottom: 20px;">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
              <i class="pi pi-user"></i>
          </span>
          <input pInputText placeholder="Username" formControlName="login_user"/>
        </div>
        <div style="height: 10px;"></div>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
              <i class="pi pi-lock"></i>
          </span>
          <input pInputText type="password" placeholder="Password" formControlName="login_password"/>
        </div>
      </div>
      <button (click)="login()" style="width: 100%" class="prime-button">Log In</button>
    </form>
    <div class="register-link">
      <p style="text-align: center;">Don't have an account?</p>
      <button class="register-btn" (click)="openRegister()">Register</button>
    </div>
  </div>

  <!-- Registration Form -->
  <div class="register-card" *ngIf="!showLogin">
    <div class="imagen">
      <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" style="width: 100px; height: 100px;">
    </div>
    <div style="height: 10px;"></div>
    <div style="height: 10px;"></div>
    <form [formGroup]="group" class="group_principal">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
            <i class="pi pi-user"></i>
        </span>
        <input pInputText placeholder="Username" formControlName="user_name"/>
      </div>
      <div style="height: 10px;"></div>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
            <i class="pi pi-at"></i>
        </span>
        <input pInputText placeholder="Email" formControlName="user_email"/>
      </div>
      <div style="height: 10px;"></div>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
            <i class="pi pi-lock"></i>
        </span>
        <input pInputText type="password" placeholder="Password" formControlName="user_password"/>
      </div>
      <div style="height: 10px;"></div>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-id-card"></i>
        </span>
        <p-dropdown
          [options]="documentos"
          [(ngModel)]="selectedDocument"
          placeholder="Seleccione un Documento"
          optionLabel="des_tipo"
          formControlName="numDocumento"
          [style]="{ 'width': '100%' }">
        </p-dropdown>
      </div>
      <div style="height: 10px;"></div>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
            <i class="pi pi-hashtag"></i>
        </span>
        <input pInputText type="password" placeholder="Numero Documento" formControlName="numDocumento"/>
      </div>
      <div style="height: 10px;"></div>
      <button (click)="registerUser()" style="width: 100%" class="prime-button">Register</button>
      <!-- <button type="submit" class="register-btn" (click)="registerUser()">Register</button> -->
    </form>
    <div class="login-link">
      <p style="text-align: center;">Already have an account?</p>
      <button class="login-btn" (click)="openLogin()">Log In</button>
    </div>
  </div>
</div>
<!--
<div class="card">
  <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
</div> -->
