.container_general {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0; /* Espacio vertical entre el contenido */
}

.container_button {
  width: 550px;
  display: flex;
  justify-content: space-around;
}

.description_phone {
  width: 470px;
  margin-right: 20px; /* Espacio entre input y botones */
}

.button {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  background-color: #6CF8A6;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  display: flex;
  align-items: center;
  /* width: ; */
  gap: 8px; /* Espacio entre icono y texto */
  margin-bottom: 20px;
}

.button:hover {
  background-color: #39C37D;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.mat-icon {
  font-size: 20px;
}

.button:active {
  background-color: #003d82;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra más pequeña en click */
}

.mat-form-field {
  width: 100%;
}

h1 {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  margin-bottom: 50px;
}


/* BUTTON CAR */
.cart-button {
  display: flex;
  align-items: center;
  gap: 5px; /* Espacio entre el ícono y el texto */
}

.icon {
  display: block;
  font-size: 20px;
  padding: 0;
  margin: 0 auto;
  background-color: aqua;
}

.cart-button:hover {
  background-color: #39C37D; /* Color de fondo más oscuro al hacer hover */
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); /* Sombra más fuerte al hacer hover */
}


.buttons_table {
  display: flex;
  justify-content: flex-start; /* Alinea los botones al inicio */
  gap: 8px; /* Espacio entre los botones */
  /* background-color: #c82333; */
  width: 10px;
}

.button_edit, .button_delete {
  display: flex;
  align-items: center;
  justify-content: center; /* Asegura que el contenido esté centrado */
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.button_edit {
  background-color: #fd7e14; /* Naranja */
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.button_edit:hover {
  background-color: #e96500;
}

.button_delete {
  background-color: #dc3545; /* Rojo */
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  /* justify-content: center; */
}

.button_delete:hover {
  background-color: #c82333;
}

th,td{
  /* background-color: orange; */
  color: white;
  width: 150px;
}

.container_input{
  width: 60%;
}

@media (max-width: 768px) {
  .container_general{
    flex-direction: column;
  }
  .container_button{
    margin-top: 20px;
    flex-direction: column;
    /* background-color: red; */
    width: 90%;
    justify-content: space-around;
  }

  ::ng-deep .button_principal {
    width: 100%;
    margin-top: 10px;
  }

  .container_input{
    /* background-color: green; */
    width: 90%;
  }

  .container_details {
    overflow-x: auto; /* Permite desplazamiento horizontal en el contenedor */
    width: 100%; /* Asegura que ocupe todo el ancho */
  }

  app-table {
      /* background-color: orange; */
      min-width: 800px; /* Define un ancho mínimo para la tabla */
      max-width: 100%; /* Limita el ancho máximo al 100% del contenedor */
      overflow-x: auto; /* Habilita desplazamiento horizontal en la tabla */
      display: block; /* Asegura que el ancho máximo se respete */
  }

  th,td{
    /* background-color: orange; */
    color: white;
    width: 50px;
  }
}
