<div class="container_general">
  <div class="profile_principal">
    <div class="profile">{{first_letter}}</div>
    <label>{{name_user}}</label>
  </div>
  <p-divider layout="vertical"></p-divider>
  <div class="profile_details">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
          <i class="pi pi-user"></i>
      </span>
      <input pInputText placeholder="Nombre Completo" />
    </div>
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
          <i class="pi pi-envelope"></i>
      </span>
      <input pInputText placeholder="Email" />
    </div>
  </div>
</div>
