<div class="container_general">
  <div class="cabecera_lista">
    <p-avatar label={{first_letter}} styleClass="mr-2" size="xlarge" shape="circle" [style]="{ 'background-color': '#52f538', color: '#ffffff' }"></p-avatar>
    <div style="width: 20px;"></div>
    <label>LISTA DE DESEADOS DE {{name_user}}</label>
  </div>
  <div class="separador"></div>
  <div class="p-inputgroup buscador">
    <input type="text" pInputText placeholder="Buscar por nombre..." />
    <p-button icon="pi pi-search"></p-button>
  </div>
</div>
