<h1 style="text-align: center;">MANT COMPONENT</h1>
<form [formGroup]="group">
  <div class="container_general">
    <div style="width: 60%">
      <!-- <label for="username">Username</label> -->
      <input pInputText id="username" aria-describedby="username-help" formControlName="description_component"  placeholder="Description Component" style="width: 100%;"/>
    </div>
    <div class="container_button">
      <p-button label="search" icon="pi pi-plus" styleClass="p-button-outlined" (click)="addMark()"></p-button>
      <p-button label="search" icon="pi pi-search" styleClass="p-button-outlined"></p-button>
      <p-button label="close" icon="pi pi-times" styleClass="p-button-outlined" routerLink="/admin"></p-button>
    </div>
  </div>
</form>

<div class="container_details">
  <app-table [dataTable]="dataTable" [metadataTable]="metadataTable">
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <div class="buttons_table">
          <button mat-icon-button type="button" class="button_edit" aria-label="Edit">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button type="button" class="button_delete" aria-label="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
  </app-table>
  <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex officiis voluptas quasi voluptate commodi magnam assumenda temporibus optio itaque esse debitis placeat non expedita maiores, ratione dolorem, consequatur reprehenderit ipsam.</p> -->
</div>

