<!-- <div style="width: 80%; margin: auto; background-color: red;">
  <app-custom-slider
  [images]="imageObject"
  [autoSlide]="true"
  [slideInterval]="5000"
></app-custom-slider>
</div> -->

<div class="container_cards">
  <div class="card" *ngFor="let item of celulares">
    <div class="favorite_icon" (click)="toggleFavorite(item)">
    </div>
    <img [src]="'data:image/jpeg;base64,' + item.imagen" alt="{{item.marca}} {{item.modelo}}">
    <div class="card_info">
      <label class="card_name">{{item.modelo}}</label>
      <label class="card_price">{{item.precio_completo | currency}}</label>
    </div>
    <div class="container_buttons_card">
      <button class="button_card" [routerLink]="['/details-phone', item.id_celular]">Details</button>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="footer-content">
    <p>&copy; 2024 CellPhone. All rights reserved.</p>
    <div class="social-links">
      <a href="#facebook">Facebook</a>
      <a href="#twitter">Twitter</a>
      <a href="#instagram">Instagram</a>
    </div>
  </div>
</footer>
