.category {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #f8f9fa;
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #007bff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.category h3:hover {
  background-color: #007bff;
  color: white;
}

.container_cards{
  /* background-color: red; */
  width: 98%;
  height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 190px;
  height: 250px;
  padding: 20px;
  background-color: #FFFFFF ;
  border: 1px solid #F5F5F5;
  /* color: #ffffff; */
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.button_card {
  flex: 1;
  margin: 0 5px;
  padding: 8px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #6CF8A6;
  color: #1F1F1F;
  cursor: pointer;
}

.container_buttons_card {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}


.card img:hover {
  transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
}

.favorite_icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.favorite_icon i {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.favorite_icon i.fa-regular.fa-heart {
  color: black;
}

.favorite_icon i.fa-solid.fa-heart {
  color: red;
}

.card_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.card_name {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.card_price {
  font-size: 16px;
  /* color: #ffffff; */
  margin-top: 5px;
}

.button_card:hover {
  background-color: #39C37D ;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
}

.search-bar button {
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #0056b3;
}


.custom-snackbar {
  background-color: #4caf50; /* Cambia el fondo del snackbar */
  color: white; /* Cambia el color del texto */
  font-size: 16px; /* Ajusta el tamaño de la fuente */
  padding: 20px; /* Ajusta el padding */
  border-radius: 10px; /* Esquinas redondeadas */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Añade sombra */
  text-align: center; /* Centra el texto */
}

.custom-snackbar .mat-simple-snackbar-action {
  color: yellow; /* Cambia el color del botón de acción (si existe) */
}

.custom-snackbar .mat-simple-snackbar-content {
  font-weight: bold; /* Cambia el peso del texto */
}


/* FOOTER */
.footer {
  background-color: #333;  /* Color de fondo del footer */
  color: white;  /* Color del texto */
  text-align: center;  /* Centrar el texto */
  padding: 20px 0;  /* Espaciado superior e inferior */
  position: relative;  /* Permitir posicionamiento */
  bottom: 0;  /* Posicionar al fondo */
  width: 100%;  /* Ancho completo */
}

.footer-content {
  max-width: 1200px;  /* Limitar el ancho del contenido */
  margin: 0 auto;  /* Centrar el contenido */
}

.social-links a {
  margin: 0 10px;  /* Espaciado entre los enlaces */
  color: white;  /* Color de los enlaces */
  text-decoration: none;  /* Sin subrayado */
}

.social-links a:hover {
  text-decoration: underline;  /* Subrayado en hover */
}


/* SLIDER */
